.Aboutme{
    display: flex;
    margin: 150px;
    text-align: start;
    justify-content: center;
    align-items: center;
}
.Aboutme button{
    background-color: #fd6e00;
    border-style: none;
}
.Aboutme button:hover{
    background-color: #db5f00;
    transition: 900;
    
}
.aboutmeP{
    flex-wrap:wrap;
}
.Aboutme img{
    border-radius: 485.868px;
    border: 6px solid rgba(255, 255, 255, 0.00);
    background: #FFF;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.47) inset;
}

.Aboutme h4{
    color: #db5f00;
    
}
.Aboutme h1{
    font-weight: 700;
    font-size: 80px;
    text-align: start;
}
.Aboutme h2{
    font-weight: 700;
    font-size: 80px;
   text-align: end;
}
.icons{
    text-align: center;
    cursor: pointer;
    
    
}
.icons .fb{
 
    color: #000000;
}

.icons .in{
  
    color: #000000;
}

.icons .gt{
    color: #000000;
}
.icons a{
    margin: 0 22px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 2.3em;
    border: none;
   
}




@media screen and (min-width:875px) and (max-width: 1090px) {
    .Aboutme img{
       width: 300px;
    }
  }
  
  @media screen and (max-width: 875px) {
    .Aboutme {
        flex-direction: column;
        margin: 80px;
    }
    .Aboutme h1{
        font-weight: 700;
        font-size: 50px;
        text-align: start;
    }
    .Aboutme h2{
        font-weight: 700;
        font-size: 50px;
       text-align: end;
    }
    .Aboutme img{
        width: 300px;

     }
     .icons a{
        margin: 0 15px;
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
  }

 